@model TeknikServis.Models.ViewModels.ArizaViewModel
@using TeknikServis.BLL.Identity
@{
    ViewBag.Title = "ArizaDetaySayfasi";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<link href="~/vendor/css/ArizaDetay.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <hr />

    @using (Html.BeginForm("ArizaDetaySayfasi", "Operator", FormMethod.Post, new { id = "contactFrm", name = "contactFrm", @class = "fieldset", enctype = "multipart/form-data" }))
    {

        <div class="card">
            <div class="row">
                <aside class="col-sm-5 border-right">
                    <article class="gallery-wrap">
                        @*<div class="img-big-wrap">
                                <div> <a href="#"><img src="@Model.UrunFotografi"></a></div>
                            </div> <!-- slider-product.// -->
                            <div class="img-small-wrap">
                                <div class="item-gallery"> <img src="@Model.UrunFaturaFotografi"> </div>
                            </div> <!-- slider-nav.// -->*@
                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <aside class="col-sm-7">
                    <article class="card-body p-5">
                        <h2 class="title mb-3">Ürün Detay Sayfası</h2>

                        <dl class="item-property">
                            <dt>Müşteri Adı Soyadı: <b>@*@MemberShipTools.GetNameSurname(null)*@</b></dt> <hr />
                            <dt>
                                Ürün Tipi :  <b>@*@Model.UrunTipi*@</b> <hr />
                            </dt> 
                            <dt>Ürün Adı: @*<b>@Model.UrunAdi</b>*@</dt> <hr />
                            <dt>Müşteri Yorumu:</dt>
                            <dd>
                                <p>
                                    @*@Model.MusteriYorumu*@
                                </p> <hr />
                            </dd>
                            <dt>Şehir: @*@Model.SehirAdi*@</dt>   <hr />
                            <dt>Adres: @*@Model.Adres*@</dt> <hr />
                            
                            <dt>Garanti Durumu : @Html.CheckBox("Garanti Durumu", @*Model.GarantiDurumu*@  new { disabled = "true" })  </dt>                                                                  
                        </dl>
                       
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <dl class="param param-inline">
                                    <dt>Atanacak Teknisyen</dt>
                                    <dd>
                                        <select class="form-control form-control-sm" style="width:70px;">
                                            @*@Model.TeknisyenId*@
                                        </select>
                                    </dd>
                                </dl>  <!-- item-property .// -->
                            </div> <!-- col.// -->
                            <div class="col-sm-7">

                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        <hr>
                        <button type="submit" class="btn btn-lg btn-primary text-uppercase">Seçili Teknisyeni Ata</button>
                        @*<a href="#" class="btn btn-lg btn-primary text-uppercase"> Buy now </a>*@

                    </article> <!-- card-body.// -->
                </aside> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
      }

    </div>
<!--container.//-->

@*<br><br><br>
<article class="bg-secondary mb-3">
    <div class="card-body text-center">
        <h4 class="text-white">HTML UI KIT <br> Ready to use Bootstrap 4 components and templates </h4>
        <p class="h5 text-white">
            for Ecommerce, marketplace, booking websites
            and product landing pages
        </p>   <br>
        <p>
            <a class="btn btn-warning" target="_blank" href="http://bootstrap-ecommerce.com/">
                Bootstrap-ecommerce.com
                <i class="fa fa-window-restore "></i>
            </a>
        </p>
    </div>
    <br><br><br>
</article>*@
