@model Admin.Models.ViewModels.RecoverPasswordViewModel
@{
    Layout = null;
}

<link href="~/css/Recover-passwordStyle.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Sifrenizi Mi Unuttunuz?</h2>
                        <p>Sifrenizi buradan sıfırlayabilirsiniz.</p>
                        <div class="panel-body">

                            @*<h2>
                                @Html.Raw(ViewBag.Message)
                            </h2>*@

                            @using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post, new { @class = "form", id = "register-form", role = "form", style = "display: block;" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">

                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "email", name = "email", placeholder = "Mail Adresinizi Giriniz", type = "email" })
                                </div>
                                <button type="submit" name="recover-submit" class="btn btn-lg btn-primary btn-block">Şifremi Yolla</button>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>